/*
* Style sheet used for Personalized SME style
*
*/

#wrapper{
	margin: 30px auto; width: 1260px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.hoz-rule{
	
	width: 100%; height: 30px; background-color: #3e4c5e; 
}

.hoz-rule-dark{
	
	width: 100%; height: 20px; background-color: #425b68;
}

.section-3 { background: none repeat scroll 0 0 #EEEEEE; }

.section-3 .vcard .street-address { background: url("../img/ico-dark-home.png") no-repeat scroll 0 0 transparent; }

.footer-dark { background-color: #e5e7e6; color: #e5e7e6;font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 22px; color: #3e4c5d; }

/*social icons*/

ul#social { display: inline-block; list-style: none outside none; margin: 0; width: 100%; }

#social a { display: block; float: left; height: 32px; margin: 0 9px 9px 0; width: 32px; }

#social a img { border: medium none; }

.tab-button { float: right; margin-top: 28px; }

/*list-news*/
.list-news { margin: 0 0 0 -10px; }

.list-news li { display: inline-block; float: left; width: 265px; margin-left: 10px; margin-top: 28px; }

.list-news li .img-circle { background: url(../img/date.jpg) 0 0 repeat-x #f4f4f4; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); margin-right: 20px; text-align: center; width: 67px; height: 52px; padding: 15px 0 0 0; font-size: 24px; line-height: 18px; color: #525050; float: left; }

.list-news li .extra-wrap { padding: 0 0 10px 1px; }

.list-news li h2 { margin: 0 0 8px 0; color: #949494; }

/*list-news*/

/*Home Main Container*/
#main-wrapper {
	display:inline-block;
	
}

#rt-col {
	float:right;
}


.block-info-h {
text-align: center;
background: #f8f8f8;
padding: 20px;
width: 230px;
border-bottom: 1px #e3e3e8 solid;
}

.carouselLeft{
	background: url(../img/rotate-left.png);
	width: 40px;
	height: 40px;
	background-position: 0px 0px;
	display:block;float:left;margin:60px 0px 0px 0px; z-index:10
}

.carouselRight{
	background: url(../img/rotate-right.png);
	width: 40px;
	height: 40px;
	background-position: 0px 0px;
	display:block;float:right;margin:60px 0px 0px 0px; ;z-index:10
}